{% extends "base.html" %}

{% block content %}
<form method="POST">
    <h2>{{ title }}</h2>
    {{ form.hidden_tag() }}

    {{ render_field(form.name) }}
    {{ render_field(form.country) }}
    {{ render_field(form.add) }}
    {{ render_field(form.delete) }}

    {%if not search_bool%}
    {{ render_field(form.show_cities) }}
    {% else %}
    {{ render_field(form.hide_cities) }}
    {% if cities|length == 0 %}
    <p>Городов в базе не найдено.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th >Название</th>
                <th>Страна</th>
            </tr>
        </thead>
        <tbody>
            {% for city in cities %}
            <tr>
                <td>{{ city[0] }}</td>
                <td>{{ city[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
</form>
{% endblock %}