{% extends "base.html" %}


{% block content %}
<form method="POST">
    <h2>{{ title }}</h2>
    {{ form.hidden_tag() }}
    <div style="padding-top: 10px; padding-bottom: 10px;">
        {{ render_messages() }}

    {{ render_field(form.number) }}
    {{ render_field(form.plane) }}
    {{ render_field(form.departure) }}
    {{ render_field(form.arrival) }}
    {{ render_field(form.date) }}
    {{ render_field(form.time) }}
    {{ render_field(form.travel_time) }}
    {{ render_field(form.status) }}
    {{ render_field(form.economy) }}
    {{ render_field(form.buisness) }}
    {{ render_field(form.first) }}
    {{ render_field(form.add) }}
    {{ render_field(form.delete) }}
    {{ render_field(form.change) }}
    {{ render_field(form.check_number) }}
    {{ render_field(form.check_plane) }}
    {{ render_field(form.check_departure) }}
    {{ render_field(form.check_arrival) }}
    {{ render_field(form.check_date) }}
    {{ render_field(form.check_status) }}

    {{ render_field(form.show_flights) }}
    {{ render_field(form.hide_flights) }}
    {%if search_bool%}
    {% if flights|length == 0 %}
    <p>Рейсов не найдено.</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>Рейс</th>
                <th>Самолет</th>
                <th>Место вылета</th>
                <th>Место прилета</th>
                <th>Дата и время вылета</th>
                <th>Дата и время прилета</th>
                <th>Статус</th>
                <th>Цена эконом класса</th>
                <th>Цена бизнесс класса</th>
                <th>Цена первого класса</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
            <tr>
                <td>{{ flight[0] }}</td>
                <td>{{ flight[1] }}</td>
                <td>{{ flight[2] }}</td>
                <td>{{ flight[3] }}</td>
                <td>{{ flight[4] }}</td>
                <td>{{ flight[5] }}</td>
                {%if flight[6] == 0 %}
                <td>Запланирован</td>
                {% endif %}
                {% if flight[6] == 1 %}
                <td>В полете</td>
                {% endif %}
                {% if flight[6] == 2 %}
                <td>Перенесен</td>
                {% endif %}
                {% if flight[6] == 3 %}
                <td>Отменен</td>
                {% endif %}
                {% if flight[6] == 4 %}
                <td>Выполнен</td>
                {% endif %}
                {%if flight[7] != 0 %}
                <td>{{ flight[7] }}</td>
                {% endif %}
                {%if flight[8] != 0 %}
                <td>{{ flight[8] }}</td>
                {% endif %}
                {%if flight[9] != 0 %}
                <td>{{ flight[9] }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    {% endif %}
</form>
{% endblock %}
{% block messages %}{% endblock %}