{% extends "base.html" %}

{% block content %}
<h2>{{ title }}</h2>
{{ form.hidden_tag() }}
{% if current_user.is_authenticated %}
<p>Добро пожаловать, {{ current_user.username }}!</p>
{% else %}
<p>Вы не вошли в систему.</p>
{% endif %}
{{ render_form(form, method="POST", action="") }}
{%if search_bool%}
{% if flights|length == 0 %}
<p>Рейсов не найдено.</p>
{% else %}
<table>
    <thead>
        <tr>
            <th>Рейс</th>
            <th>Самолет</th>
            <th>Место вылета</th>
            <th>Место прилета</th>
            <th>Дата и время вылета</th>
            <th>Дата и время прилета</th>
            <th>Статус</th>
            <th>Цена эконом класса</th>
            <th>Цена бизнес класса</th>
            <th>Цена первого класса</th>
        </tr>
    </thead>
    <tbody>
        {% for flight in flights %}
        <tr>
            <td>{{ flight[0] }}</td>
            <td>{{ flight[1] }}</td>
            <td>{{ flight[2] }}</td>
            <td>{{ flight[3] }}</td>
            <td>{{ flight[4] }}</td>
            <td>{{ flight[5] }}</td>
            <td>{{ flight[6] }}</td>
            {%if flight[7] != 0 %}
            <td>{{ flight[7] }}</td>
            {% endif %}
            {%if flight[8] != 0 %}
            <td>{{ flight[8] }}</td>
            {% endif %}
            {%if flight[9] != 0 %}
            <td>{{ flight[9] }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endif %}
{% endblock %}